div.browse-wrapper {
  overflow: auto;
  max-height: 65vh;
}
table.browse {
  position: relative;
  padding: 3px;
  border-collapse: separate;
  border-spacing: 0;
}
table.browse thead th {
  position: sticky;
  background: white;
  border-bottom: 2px solid black;
  top: 0;
}
table.browse thead th, table.browse tbody td {
  padding: 3px 5px;
  white-space: nowrap;
  user-select: none;
}
table.browse tbody tr {
  cursor: pointer;
}
table.browse tbody tr.focused td {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}
table.browse tbody tr.focused td:first-child {
  border-left: 1px dotted black;
}
table.browse tbody tr.focused td:last-child {
  border-right: 1px dotted black;
}
table.browse tbody tr.selected td {
  color: white;
  background: navy;
}

#browse-error {
  border-radius: 5px;
  background-color: darkred;
  color: white;
  padding: 2px;
}
#browse-error pre {
  color: white;
  margin-bottom: 0;
}

#main a.nav-link {
  cursor: pointer;
}

#model-form i.far {
  color: gray;
}

#model-visualize-form .table-wrapper {
  max-height: 30vh;
  overflow-y: auto;
  position: relative;
}

#model-visualize-form table .name {
  max-width: 10rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

#model-visualize-form table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

#model-submit.active span.label,
#sei-submit.active span.label {
  display: inline;
}

#model-submit.active span.running,
#model-submit.active span.spinner,
#sei-submit.active span.running,
#sei-submit.active span.spinner {
  display: none;
}

#model-submit.running span.label,
#sei-submit.running span.label {
  display: none;
}

#model-submit.running span.running,
#sei-submit.running span.running {
  display: inline;
}

#model-submit.running span.spinner,
#sei-submit.running span.spinner {
  display: inline-block;
}

fieldset {
  border: 1px solid lightgray;
  padding: 0.5rem;
}

fieldset legend {
  width: auto;
  font-size: 1rem;
}

input.sei-cft-input {
  width: 5rem;
}

.sei-cft .table-wrapper {
  max-height: 40vh;
  overflow-y: auto;
  position: relative;
}

.sei-cft table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

/* finagle this to limit the width of the container to 1.5 times the height */
.papaya-container {
  padding: 0 calc((70vw - ((100vh - 10rem) * 1.5)) / 2);
}

.popover-body ul {
  padding-inline-start: 0;
  margin-left: 1em;
}
