{{#study}}
<p class="border-bottom font-weight-bold">Histograms</p>
<form id="model-visualize-form" autocomplete="off">
  <div class="table-wrapper">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">
            <input id="model-visualize-all" type="checkbox" checked>
          </th>
          <th scope="col" class="name">Name</th>
          <th scope="col">Mean</th>
          <th scope="col">Median</th></tr>
      </thead>
      <tbody>
        {{#varInfo}}{{#num}}
        <tr>
          <td>
            <input id="model-visualize-show-{{id}}" class="toggle"
                   type="checkbox" data-id="{{id}}" name="{{name}}" checked>
          </td>
          <td class="name">
            <!--<label for="model-visualize-show-{{id}}">{{name}}</label>-->
            {{name}}
          </td>
          <td>{{mean}}</td>
          <td>{{median}}</td>
        </tr>
        {{/num}}{{/varInfo}}
      </tbody>
    </table>
  </div>
</form>

<p class="border-bottom font-weight-bold mt-3">Formulae</p>
<form id="model-form" autocomplete="off">
  <div class="form-group">
    <label for="model-formfull">Full formula:</label>
    <input id="model-formfull" class="form-control" name="formfull" type="text"
           value="{{form}}" />
  </div>
  <div class="form-group">
    <label for="model-formred">Reduced formula:</label>
    <input id="model-formred" class="form-control" name="formred" type="text"
           value="{{formred}}" />
  </div>
  <div class="form-group">
    <label for="model-transform">Transform:</label>
    <select id="model-transform" class="form-control" name="transform">
      {{#transformOptions}}
        <option{{#selected}} selected{{/selected}}>{{value}}</option>
      {{/transformOptions}}
    </select>
  </div>
  <div class="form-group">
    <label for="model-weights-column">Weights column:</label>
    <select id="model-weights-column" class="form-control" name="weightsColumn">
      <option></option>
      {{#varInfo}}{{#num}}
        <option {{#isWeightsColumn}}selected{{/isWeightsColumn}}>{{name}}</option>
      {{/num}}{{/varInfo}}
    </select>
  </div>
  <div class="form-check mb-2">
    <input class="form-check-input" type="checkbox" name="invertedWeights" value="true" id="model-inverted-weights" {{#invertedWeights}}checked{{/invertedWeights}}>
    <label class="form-check-label" for="model-inverted-weights">
      Are weights inverted?
    </label>
  </div>
  <div class="form-check mb-2">
    <input class="form-check-input" type="checkbox" name="robust" value="true" id="model-robust" {{#robust}}checked{{/robust}}>
    <label class="form-check-label" for="model-robust">
      Compute robust standard error estimates
    </label>
  </div>
  <div class="form-check mb-2">
    <input class="form-check-input" type="checkbox" name="zeros" value="true" id="model-zeros" {{#zeros}}checked{{/zeros}}>
    <label class="form-check-label" for="model-zeros">
      Exclude voxels that have zeros
    </label>
  </div>
  <div class="form-check mb-4">
    <input class="form-check-input" type="checkbox" name="HC3" value="true" id="model-HC3" {{#HC3}}checked{{/HC3}}>
    <label class="form-check-label" for="model-HC3">
      Use HC3 SE estimates from Long and Ervin 2000
    </label>
  </div>

  <button id="model-submit" type="submit" class="btn btn-primary active">
    <span class="label">Generate StatMap</span>
    <span class="spinner spinner-border spinner-border-sm" role="status"></span>
    <span class="running">Running...</span>
  </button>
  <pre id="statmap-log" class="d-none mt-3 mb-3">
  </pre>
</form>
{{/study}}
