{{#study}}
<p class="border-bottom font-weight-bold">Histograms</p>
<form id="model-visualize-form" autocomplete="off">
  <div class="table-wrapper">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">
            <input id="model-visualize-all" type="checkbox" checked>
          </th>
          <th scope="col" class="name">Name</th>
          <th scope="col">Mean</th>
          <th scope="col">Median</th></tr>
      </thead>
      <tbody>
        {{#varInfo}}{{#num}}
        <tr>
          <td>
            <input id="model-visualize-show-{{id}}" class="toggle"
                   type="checkbox" data-id="{{id}}" name="{{name}}" checked>
          </td>
          <td class="name">
            <!--<label for="model-visualize-show-{{id}}">{{name}}</label>-->
            {{name}}
          </td>
          <td>{{mean}}</td>
          <td>{{median}}</td>
        </tr>
        {{/num}}{{/varInfo}}
      </tbody>
    </table>
  </div>
</form>

<p class="border-bottom font-weight-bold mt-3">
  Model specification
</p>
<!--
<div class="help-dialog d-none">
  <h3>PBJ: Model Parameters</h3>
  <h4>Full model formula</h4>
  <p>
    PBJ uses the convention of specifying a full and reduced model, where the
    parameters of interest are the difference between the two models. The
    formulas are specified in R format. Variables that take character values
    are assumed to be factors.
  </p>
  <p>
    Example: A full formula "~ age + sex + motion", means that each voxel in
    the outcome image will be modeled linearly using age, sex, and motion. A
    reduced formula "~ sex + motion", means that the test statistic image will
    quantify the effect of age on the outcome image, controlling for the linear
    effect of sex and motion.
  </p>
  <p>
    Further information: The ns function can be used to specify natural cubic
    splines. For further details on model specification, see ?formula.
  </p>
</div>
-->
<form id="model-form" autocomplete="off">
  <div class="form-group">
    <label for="model-formfull">
      Full model formula
      <i class="far fa-question-circle" title="Full model formula"
        data-toggle="popover" data-container="body" data-trigger="hover"
        data-custom-class="text-justify text-break"
        data-content="PBJ uses the convention of specifying a full and reduced model, where the parameters of interest are the difference between the two models. The formulas are specified in R format. Variables that take character values are assumed to be factors."
      ></i>
    </label>
    <input id="model-formfull" class="form-control" name="formfull" type="text"
           value="{{form}}" />
  </div>
  <div class="form-group">
    <label for="model-formred">Reduced model formula</label>
    <input id="model-formred" class="form-control" name="formred" type="text"
           value="{{formred}}" />
  </div>
  <div class="form-group">
    <label for="model-transform">
      Transform
      <i class="far fa-question-circle" title="Transform"
        data-toggle="popover" data-container="body" data-trigger="hover"
        data-custom-class="text-justify text-break"
        data-content="In small samples the test statistic images are not normally distributed. This method transforms the test statistics to be approximately normal using a T to Z transform or a transform based on Edgeworth expansions."
      ></i>
    </label>
    <select id="model-transform" class="form-control" name="transform">
      {{#transformOptions}}
        <option{{#selected}} selected{{/selected}}>{{value}}</option>
      {{/transformOptions}}
    </select>
  </div>
  <div class="form-group mb-0">
    <label for="model-weights-column">
      Weights
      <i class="far fa-question-circle" title="Weights"
        data-toggle="popover" data-container="body" data-trigger="hover"
        data-custom-class="text-justify text-break"
        data-content="Regression weights can be used affect the relative influence of participants on the resulting analysis. For example, noisy participants can be down-weighted by setting the weights column proportional to the subjects motion for the scan session and checking the “inverse weights” box. Alternatively, if you have a column where large numbers indicate better image quality, then that can be selected as the weights and the “inverse weights” box should be unchecked. Theoretically, the best weights are those that are proportional to the inverse variance of the outcome image for each subject."
      ></i>
    </label>
    <select id="model-weights-column" class="form-control" name="weightsColumn">
      <option></option>
      {{#varInfo}}{{#num}}
        <option {{#isWeightsColumn}}selected{{/isWeightsColumn}}>{{name}}</option>
      {{/num}}{{/varInfo}}
    </select>
  </div>
  <div class="mb-3">
    &boxur;
    <div class="form-check-inline">
      <input class="form-check-input" type="checkbox" name="invertedWeights" value="true" id="model-inverted-weights" {{#invertedWeights}}checked{{/invertedWeights}}>
      <label class="form-check-label" for="model-inverted-weights">
        Inverse weights
        <i class="far fa-question-circle"
          title="Inverse weights" data-toggle="popover" data-container="body"
          data-trigger="hover" data-custom-class="text-justify text-break"
          data-content="This box is for convenience; if the selected weight column is associated with noisier observations, then you can check this box and PBJ will invert the weights prior to analysis."
        ></i>
      </label>
    </div>
  </div>
  <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" name="robust" value="true" id="model-robust" {{#robust}}checked{{/robust}}>
    <label class="form-check-label" for="model-robust">
      Robust standard errors
      <i class="far fa-question-circle" title="Robust standard errors" data-toggle="popover"
        data-container="body" data-trigger="hover"
        data-custom-class="text-justify text-break"
        data-content="Classical statistical analyses are subject to bias if the variances are unequal or exchangeability is violated. Using robust standard errors guarantees zero bias in large samples. A consequence of using robust standard errors is that test statistics have larger variance, so are a little noisier."
      ></i>
    </label>
  </div>
  <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" name="zeros" value="true" id="model-zeros" {{#zeros}}checked{{/zeros}}>
    <label class="form-check-label" for="model-zeros">
      Exclude voxels with zeros
      <i class="far fa-question-circle"
        title="Exclude voxels with zeros" data-toggle="popover"
        data-container="body" data-trigger="hover"
        data-custom-class="text-justify text-break"
        data-content="Oftentimes, numerically zero values in a subject’s outcome image indicates that those regions were outside of the FOV. Checking this box excludes all voxels where any subject has zero values from the analysis in addition to limiting analyses to the study mask region."
      ></i>
    </label>
  </div>
  <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" name="HC3" value="true" id="model-HC3" {{#HC3}}checked{{/HC3}}>
    <label class="form-check-label" for="model-HC3">
      Use debiased residuals
      <i class="far fa-question-circle"
        title="Use debiased residuals" data-toggle="popover"
        data-container="body" data-trigger="hover"
        data-custom-class="text-justify text-break"
        data-content="The residuals are used extensively in resampling methods. The squared residuals are biased for the error variance. Check this box (recommended) to use the HC3 adjustment for bias discussed by Long and Ervin (2000)."
      ></i>
    </label>
  </div>

  <button id="model-submit" type="submit" class="btn btn-primary active">
    <span class="label">Generate StatMap</span>
    <span class="spinner spinner-border spinner-border-sm" role="status"></span>
    <span class="running">Running...</span>
  </button>
  <pre id="statmap-log" class="d-none mt-3 mb-3">
  </pre>
</form>
{{/study}}
