{{#study}}{{#hasSEI}}
<form id="sei-cft-form" autocomplete="off">
  <div class="form-group">
    <label for="sei-cft">Cluster forming thresholds:</label>
    <select id="sei-cft" name="image">
      {{#sei}}{{#cfts}}
      <option value="{{sname}}"{{#selected}} selected{{/selected}}>{{name}}</option>
      {{/cfts}}{{/sei}}
    </select>
  </div>
</form>

{{#sei}}{{#cfts}}
<div id="sei-cft-{{sname}}" class="sei-cft{{^selected}} d-none{{/selected}}">
  <form id="sei-cft-{{sname}}-visualize-form" autocomplete="off">
    <div class="form-group">
      <label for="sei-cft-{{sname}}-image">Image:</label>
      <select id="sei-cft-{{sname}}-image" class="sei-cft-image" name="image">
        <option selected>clustermap</option>
        <option>pmap</option>
      </select>
    </div>
  </form>

  <div class="table-wrapper">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Size</th>
          <th scope="col">p-value</th>
        </tr>
      </thead>
      <tbody>
        {{#clusters}}
          <tr>
            <td>{{name}}</td>
            <td>{{size}}</td>
            <td>{{pvalue}}</td>
          </tr>
        {{/clusters}}
      </tbody>
    </table>
  </div>
</div>
{{/cfts}}{{/sei}}

<script type="text/javascript">
  {{#sei}}
    seiInfo = {
      {{#hasTemplate}}
        template: '/studyImage/template{{templateExt}}?token={{token}}',
      {{/hasTemplate}}
      cfts: {
        {{#cfts}}
          '{{sname}}': {
            clustermap: '/studyImage/sei/{{name}}/clustermap.nii.gz?token={{token}}',
            pmap: '/studyImage/sei/{{name}}/pmap.nii.gz?token={{token}}'
          },
        {{/cfts}}
      }
    };
  {{/sei}}
</script>
{{/hasSEI}}{{/study}}
