{{#study}}{{#hasStatMap}}
<form id="statmap-visualize-form" autocomplete="off">
  <div class="form-group">
    <label for="statmap-image">StatMap Image:</label>
    <select id="statmap-image" name="image">
      <option data-name="stat" selected>stat</option>
      <option data-name="coef">coef</option>
    </select>
  </div>
</form>

<p class="border-bottom font-weight-bold">SEI</p>
<form id="sei-form" class="mt-4">
  <div class="form-group">
    <label>Cluster forming thresholds</label>
    <div class="input-group">
      <input id="sei-cft-lower" class="form-control" name="cftLower"
             type="number" value="{{cftLower}}">
      <input id="sei-cft-upper" class="form-control" name="cftUpper"
             type="number" value="{{cftUpper}}">
    </div>
  </div>

  <div class="form-group">
    <label for="sei-nboot">Number of bootstrap samples to use</label>
    <input id="sei-nboot" class="form-control" name="nboot" type="number"
           step="1" min="1" value="{{nboot}}">
  </div>

  <button id="sei-submit" type="submit" class="btn btn-primary active">
    <span class="label">Perform SEI</span>
    <span class="spinner spinner-border spinner-border-sm" role="status"></span>
    <span class="running">Running...</span>
  </button>
  <div id="sei-progress" class="d-none mt-3">
    <p></p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</form>

<script type="text/javascript">
  {{#statMap}}
    statMapInfo = {
      {{#hasTemplate}}
        template: '/studyImage/template{{templateExt}}?token={{token}}',
      {{/hasTemplate}}
      stat: '/studyImage/statMapStat{{statExt}}?token={{token}}',
      coef: '/studyImage/statMapCoef{{coefExt}}?token={{token}}'
    };
  {{/statMap}}
</script>
{{/hasStatMap}}{{/study}}
