div.browse-wrapper {
  overflow: auto;
  max-height: 65vh;
}
table.browse {
  position: relative;
  padding: 3px;
  border-collapse: separate;
  border-spacing: 0;
}
table.browse thead th {
  position: sticky;
  background: white;
  border-bottom: 2px solid black;
  top: 0;
}
table.browse thead th, table.browse tbody td {
  padding: 3px 5px;
  white-space: nowrap;
  user-select: none;
}
table.browse tbody tr {
  cursor: pointer;
}
table.browse tbody tr.focused td {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}
table.browse tbody tr.focused td:first-child {
  border-left: 1px dotted black;
}
table.browse tbody tr.focused td:last-child {
  border-right: 1px dotted black;
}
table.browse tbody tr.selected td {
  color: white;
  background: navy;
}

#browse-error {
  border-radius: 5px;
  background-color: darkred;
  color: white;
  padding: 2px;
}
#browse-error pre {
  color: white;
  margin-bottom: 0;
}

#model-submit.active span.label,
#sei-submit.active span.label {
  display: inline;
}

#model-submit.active span.running,
#model-submit.active span.spinner,
#sei-submit.active span.running,
#sei-submit.active span.spinner {
  display: none;
}

#model-submit.running span.label,
#sei-submit.running span.label {
  display: none;
}

#model-submit.running span.running,
#sei-submit.running span.running {
  display: inline;
}

#model-submit.running span.spinner,
#sei-submit.running span.spinner {
  display: inline-block;
}
