#model-submit.active span.label,
#sei-submit.active span.label {
  display: inline;
}

#model-submit.active span.running,
#model-submit.active span.spinner,
#sei-submit.active span.running,
#sei-submit.active span.spinner {
  display: none;
}

#model-submit.running span.label,
#sei-submit.running span.label {
  display: none;
}

#model-submit.running span.running,
#sei-submit.running span.running {
  display: inline;
}

#model-submit.running span.spinner,
#sei-submit.running span.spinner {
  display: inline-block;
}
