<form>
  <div class="form-group">
    <select id="data-row">
      {{#study}}{{#dataRows}}
        <option value="{{index}}" {{#selected}}selected{{/selected}}>
          Data row: {{index}}
        </option>
      {{/dataRows}}{{/study}}
    </select>
  </div>
</form>

<div class="papaya" data-params="dataPapayaConfig"></div>

<script type="text/javascript">
  var dataRows = [
    null, // empty row to offset indices by 1
    {{#study}}{{#dataRows}}
    [
      {{#template}}"{{.}}",{{/template}}
      "{{image}}",
      {{#weight}}"{{.}}"{{/weight}}
    ],
    {{/dataRows}}{{/study}}
  ];
  var dataPapayaConfig = [];
  dataPapayaConfig["kioskMode"] = true;
  dataPapayaConfig["images"] = dataRows[1];

  $('#data-row').change(function(e) {
    let newIndex = parseInt($(e.target).val());
    dataPapayaConfig["images"] = dataRows[newIndex];
    papaya.Container.resetViewer(0, dataPapayaConfig);
  });
</script>
