<nav class="navbar">
  <form class="form-inline flex-grow-1">
    <button name="parent" type="button" class="btn btn-secondary mr-1"
      data-path="{{parent}}">
      <i class="fa fa-arrow-up"></i>
    </button>
    <input class="form-control flex-grow-1 mr-2" type="text" name="path" value="{{path}}" />
  </form>
</nav>
{{#empty}}
<p class="mt-3">
  <i class="fa fa-exclamation-triangle text-warning pr-2"></i>No matching files.
</p>
{{/empty}}
{{^empty}}
<div class="browse-wrapper">
  <table class="browse">
    <thead>
      <tr>
        <th></th>
        <th class="w-100">Name</th>
        <th class="text-right">Size</th>
        <th class="text-right">Modified</th>
      </tr>
    </thead>
    <tbody>
      {{#files}}
      <tr class="{{type}}" data-path="{{path}}">
        <td><i class="fa fa-{{type}}"></i></td>
        <td class="w-100">{{name}}</td>
        <td class="text-right">{{^isdir}}{{size}}{{/isdir}}</td>
        <td class="text-right">{{mtime}}</td>
      </tr>
      {{/files}}
    </tbody>
  </table>
</div>
{{/empty}}
