<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

    <!-- Papaya CSS -->
    <link rel="stylesheet" href="/static/papaya/papaya.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/static/fontawesome/css/all.css">

    <!-- PBJ CSS -->
    <link rel="stylesheet" href="/static/styles.css">

    <!-- jQuery -->
    <script src="/static/jquery.min.js"></script>

    <title>PBJ</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="/static/pbj-transparent.png" width="30" height="30" class="d-inline-block align-top" alt="">
          PBJ
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav nav mr-auto mt-2 mt-lg-0" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" role="tab" data-toggle="tab" href="#study-content">Study</a>
            </li>
            <li class="nav-item">
              <a id="visualize-link" class="nav-link disabled" role="tab" data-toggle="tab" href="#visualize-content">Visualize</a>
            </li>
            <li class="nav-item">
              <a id="model-link" class="nav-link disabled" role="tab" data-toggle="tab" href="#model-content">Model</a>
            </li>
            <li class="nav-item">
              <a id="statmap-link" class="nav-link disabled" role="tab" data-toggle="tab" href="#statmap-content">StatMap</a>
            </li>
            <li class="nav-item">
              <a id="sei-link" class="nav-link disabled" role="tab" data-toggle="tab" href="#sei-content">SEI</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="tab-content m-2">
        <div class="tab-pane active" id="study-content" role="tabpanel">
          {{> study}}
        </div>
        <div class="tab-pane" id="visualize-content" role="tabpanel"></div>
        <div class="tab-pane" id="model-content" role="tabpanel"></div>
        <div class="tab-pane" id="statmap-content" role="tabpanel"></div>
        <div class="tab-pane" id="sei-content" role="tabpanel"></div>
      </div>
    </div>

    <div id="modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <div class="text flex-grow-1"></div>
            <button id="modal-cancel-button" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button id="modal-select-button" type="button" class="btn btn-primary">Select</button>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery first (in <head>), then Popper.js, then Bootstrap JS -->
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>

    <!-- Papaya JS -->
    <script src="/static/papaya/papaya.js"></script>
  </body>
</html>
