{{#study}}
<form id="model-form">
  <div class="form-group">
    <label for="model-formfull">Full formula:</label>
    <input id="model-formfull" class="form-control" name="formfull" type="text"
           value="{{form}}" />
  </div>
  <div class="form-group">
    <label for="model-formred">Reduced formula:</label>
    <input id="model-formred" class="form-control" name="formred" type="text"
           value="{{formred}}" />
  </div>

  <button id="model-submit" type="submit" class="btn btn-primary active">
    <span class="label">Generate StatMap</span>
    <span class="spinner spinner-border spinner-border-sm" role="status"></span>
    <span class="running">Running...</span>
  </button>
</form>
{{#plots}}
<img src="{{{.}}}" />
{{/plots}}
{{/study}}

<script type="text/javascript">
  $('#model-form').submit(function(event) {
    event.preventDefault();

    let form = $(this);
    let data = {
      'token': '{{token}}',
      'formfull': form.find('input[name="formfull"]').val(),
      'formred':  form.find('input[name="formred"]').val()
    };

    let button = $('#model-submit').prop('disabled', true).
      removeClass('active').addClass('running');

    $.ajax({
      type: 'POST',
      url: '/createStatMap',
      data: JSON.stringify(data),
      contentType: 'application/json',
      success: function(content) {
        $('ul.nav a.nav-link').removeClass('active')
        $('#statmap-link').removeClass('disabled').addClass('active');
        $('div.tab-content div.tab-pane').removeClass('active');
        $('#statmap-content').html(content).addClass('active');
        button.prop('disabled', false).
          removeClass('running').addClass('active');
      }
    });
  });
</script>
