{{#study}}
<p class="border-bottom font-weight-bold">Histograms</p>
<form id="model-visualize-form" autocomplete="off">
  <div class="table-wrapper">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">
            <input id="model-visualize-all" type="checkbox" checked>
          </th>
          <th scope="col" class="name">Name</th>
          <th scope="col">Mean</th>
          <th scope="col">Median</th></tr>
      </thead>
      <tbody>
        {{#varInfo}}{{#num}}
        <tr>
          <td>
            <input id="model-visualize-show-{{id}}" class="toggle"
                   type="checkbox" data-id="{{id}}" name="{{name}}" checked>
          </td>
          <td class="name">
            <!--<label for="model-visualize-show-{{id}}">{{name}}</label>-->
            {{name}}
          </td>
          <td>{{mean}}</td>
          <td>{{median}}</td>
        </tr>
        {{/num}}{{/varInfo}}
      </tbody>
    </table>
  </div>
</form>

<p class="border-bottom font-weight-bold mt-3">Formulae</p>
<form id="model-form" autocomplete="off">
  <div class="form-group">
    <label for="model-formfull">Full formula:</label>
    <input id="model-formfull" class="form-control" name="formfull" type="text"
           value="{{form}}" />
  </div>
  <div class="form-group">
    <label for="model-formred">Reduced formula:</label>
    <input id="model-formred" class="form-control" name="formred" type="text"
           value="{{formred}}" />
  </div>

  <button id="model-submit" type="submit" class="btn btn-primary active">
    <span class="label">Generate StatMap</span>
    <span class="spinner spinner-border spinner-border-sm" role="status"></span>
    <span class="running">Running...</span>
  </button>
  <pre id="statmap-log" class="d-none mt-3 mb-3">
  </pre>
</form>
{{/study}}
