<!--
<form id="study-form">
  <div class="form-group">
    <label for="study-images">Images (NIFTI)</label>
    <input id="study-images" class="form-control-file" name="images" type="file" accept=".nii.gz" multiple required />
  </div>

  <div class="form-group">
    <label for="study-mask">Mask (NIFTI)</label>
    <input id="study-mask" class="form-control-file" name="mask" type="file" accept=".nii.gz" required />
  </div>

  <div class="form-group">
    <label for="study-dataset">Dataset (CSV)</label>
    <input id="study-dataset" class="form-control-file" name="dataset" type="file" accept=".csv" required />
  </div>

  <div class="form-group">
    <label for="study-weights">Optional Weights (NIFTI)</label>
    <input id="study-weights" class="form-control-file" name="weights" type="file" accept=".nii.gz" multiple />
  </div>

  <div class="form-group form-check">
    <input id="study-weights" class="form-check-input" name="invertedWeights" type="checkbox" value="1" checked />
    <label for="study-weights" class="form-check-label">Inverted Weights</label>
  </div>

  <button id="study-submit" type="submit" class="btn btn-primary">Submit</button> or <button id="study-example" type="button" class="btn btn-success">Use example</button>
</form>
-->
