{{#study}}
<p class="border-bottom font-weight-bold">Dataset</p>
<p>{{datasetPath}}</p>

<form id="study-form" autocomplete="off">
  <div class="form-group">
    <label for="study-data-row" class="d-block border-bottom font-weight-bold mb-3">Subjects</label>
    <select id="study-data-row" class="form-control">
      {{#dataRows}}
        <option value="{{index}}" {{#selected}}selected{{/selected}}
          {{#hasTemplate}}data-template="/studyImage/template{{templateExt}}?token={{token}}"{{/hasTemplate}}
          data-outcome="/studyImage/outcome/{{index}}{{outcomeExt}}?token={{token}}"
        >
          {{outcomeBase}}
        </option>
      {{/dataRows}}
    </select>
  </div>
</form>
{{/study}}
