<form>
  <div class="form-group">
    <select id="data-row">
      {{#study}}{{#dataRows}}
        <option value="{{index}}" {{#selected}}selected{{/selected}}>
          Data row: {{index}}
        </option>
      {{/dataRows}}{{/study}}
    </select>
  </div>
</form>

<div id="visualize-papaya"></div>

<script type="text/javascript">
  let visualizeDataRows = [
    null, // empty row to offset indices by 1
    {{#study}}{{#dataRows}}
    [
      {{#hasTemplate}}"/studyImage/template{{templateExt}}?token={{token}}",{{/hasTemplate}}
      "/studyImage/subject/{{index}}{{subjectExt}}?token={{token}}",
      {{#hasWeight}}"/studyImage/weight/{{index}}{{weightExt}}?token={{token}}"{{/hasWeight}}
    ],
    {{/dataRows}}{{/study}}
  ];
  let visualizeParams = [];
  //visualizeParams["kioskMode"] = true;
  visualizeParams["images"] = visualizeDataRows[1];
  $(function() {
    papaya.Container.addViewer('visualize-papaya', visualizeParams);
  });

  $('#data-row').change(function(e) {
    let newIndex = parseInt($(e.target).val());
    visualizeParams["images"] = visualizeDataRows[newIndex];
    papaya.Container.resetViewer(0, visualizeParams);
  });
</script>
